#change partition permission
# eMMC only
/dev/block/mmcblk0                               0660    root    system
/dev/block/mmcblk0boot0                          0660    root    system
/dev/block/mmcblk0boot1                          0660    root    system
/dev/misc-sd                                     0660    root    system

# UFS only
/dev/block/sda                                   0660    root    system
/dev/block/sdb                                   0660    root    system
/dev/block/sdc                                   0660    root    system

# eMMC/UFS common
/dev/block/platform/bootdevice/by-name/misc2     0660    root    system
/dev/block/platform/bootdevice/by-name/boot      0640    root    system
/dev/block/platform/bootdevice/by-name/recovery  0640    root    system
/dev/block/platform/bootdevice/by-name/secro     0640    root    system
/dev/block/platform/bootdevice/by-name/seccfg    0660    root    system
/dev/block/platform/bootdevice/by-name/proinfo   0660    root    system
/dev/block/platform/bootdevice/by-name/nvram     0660    root    system
/dev/block/platform/bootdevice/by-name/para      0660    root    system
/dev/block/platform/bootdevice/by-name/logo      0660    root    system
/dev/block/platform/bootdevice/by-name/frp       0660    root    system
/dev/block/platform/bootdevice/by-name/md1img    0640    root    system
/dev/block/platform/bootdevice/by-name/md1img_a  0640    root    system
/dev/block/platform/bootdevice/by-name/md1img_b  0640    root    system
/dev/block/platform/bootdevice/by-name/md1dsp    0660    root    system
/dev/block/platform/bootdevice/by-name/boot_para 0640    root    system

# OTP
/dev/block/platform/bootdevice/by-name/otp       0660    root    system

# RPMB (for Trusty)
/dev/block/mmcblk0rpmb    0660   root       system

# SGX device node
/dev/pvrsrvkm             0666   root       root
/dev/pvr_sync             0666   root       root

# Mali node
/dev/mali                 0666   system     graphics

# Change ION driver permission
/dev/ion                  0666   system     graphics

#touch
/dev/touch                0660   root       system
/dev/hotknot              0660   root       system
/dev/tll                  0660   root       system
